
.article-author {

   border-bottom: 1px solid #aeaeae;

   &__author-name {
      margin: 0;
   }

   &__author-email {
      margin: 0;
      margin-bottom: 8px;
      font-size: 12px;
      color: #aeaeae;
   }
}