.block {
   margin-top: 16px;
   background-color: #ffffff;
   border-radius: 8px;
   box-sizing: border-box;
   overflow: hidden;
   box-shadow: 0 0 1px #000000;
   align-self: flex-start;

   &:first-child {
      margin-top: 0;
   }

   &:last-child {
      margin-bottom: 16px;
   }

   &.block_single {
      &:first-child {
         margin-top: 16px;
      }
      margin-bottom: 16px;
   }

   &.block_fullWidth {
      &:first-child {
         width: 100%;
      }
   }

   &.block_halfWidth {
      &:first-child {
         width: 50%;
      }
   }

   &.block_autoWidth {
      &:first-child {
         width: auto;
      }
   }



}
