.navbar {
   display: flex;
   align-items: center;

   &__lists {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
   }

   &__list {
      margin-right: 12px;
      font-size: 24px;
      height: 100%;
      box-sizing: border-box;
      position: relative;
      display: flex;
      align-items: center;

      &:last-child {
         margin-right: 0;
      }
   }

   &__link {
      text-decoration: none;
      background-color: #006ac000;
      color: #ffffff;
      height: 60%;
      display: flex;
      align-items: center;
      box-shadow: 0 0 0px 0px #000000;
      padding: 0 6px;
      border-radius: 10px;
      transition: background-color 0.2s ease-in;
      &:hover {
         background-color: #006ac070;
      }
   }

   &__link-sign-up {
      background-color: #0069c0;
      box-shadow: 0 0 1px 0px #000000;
      transition: box-shadow 0.2s ease-in;
      &:hover {
         box-shadow: 0 0 8px 0px #000000;
         background-color: #0069c0;
      }
   }
}
