.sidebar {
   margin-right: 16px;
   position: sticky;
   top: 96px;
   background-color: #ffffff;
   box-sizing: border-box;
   border: 1px solid #aeaeae;
   border-radius: 12px;
   align-self: flex-start;
}