.article-list {

   padding: 12px;

   &__article-list-actions {
      display: flex;
      justify-content: space-between;
   }

   &__article-list-info {
      display: flex;
      align-items: center;
      
      & > i {
         font-size: 28px;
         color: #8b8b8b;
      }
      
   }

   &__article-list-counter {
      margin: 0 12px;
      font-size: 22px;
      color: #e0e0e0;
   }
}