.article {
   margin-top: 16px;
   background-color: #ffffff;
   border-radius: 8px;
   box-sizing: border-box;
   overflow: hidden;
   box-shadow: 0 0 1px #000000;

   &:first-child {
      margin-top: 0;
   }

   &:last-child {
      margin-bottom: 16px;
   }

   &.article_single {
      &:first-child {
         margin-top: 16px;
         width: 100%;
      }
   }



}
