.article {
   margin-top: 16px;
   background-color: #ffffff;
   box-sizing: border-box;
   border: 1px solid #aeaeae;
   border-radius: 12px;

   &:first-child {
      margin-top: 0;
   }

   &:last-child {
      margin-bottom: 16px;
   }

   &.article_margin_top {
      &:first-child {
         margin-top: 16px;
      }
   }



}
