.header {
   background-color: #2196f3;
   flex: 0 0 auto;
   &__container {
      display: flex;
      justify-content: space-between;
   }
}
.container {
   max-width: 1280px;
   margin:  0 auto;
   box-sizing: border-box;
   padding: 0 24px;
}
.main {
   background-color: #e0e0e0;
   flex: 1 0 auto;
   &__container {

   }
}
.footer {
   background-color: #2196f3;
   height: 100px;
   flex: 0 0 auto;
   &__container {

   }
}
